

 @keyframes glowKeyFrame {
    0% {
      -webkit-box-shadow: 0px 0px 20px 0px #007FFF;
    }
    50% {
      -webkit-box-shadow: 0px 0px 20px 2px #007FFF;
    }
    100% {
      -webkit-box-shadow: none;
    }
}

.final-results-container {
    .messageBubble {
        .messageBubble-content {
            .botMessage {
                .bot_Img{
                    display: block;
                }
            }
        }
    }

    .finalResults{
        .resultsOfSearch {
            display: flex;
            flex-direction: column;
            .asstFaq{
                position: relative;
                margin-bottom: 5px;
            }
            .asstPage{
                margin-bottom: 16px;
            }   
            .accordion{
                .card{
                    border: 0;
                    border-radius: 0;
                    background: #ffffff;
                    .card-header{
                        border: 0;
                        border-radius: 0;
                        background: #ffffff;
                        padding: 0;
                        .btn-link {
                            font-size: 14px;
                            font-weight: normal;
                            color: #161928;
                            display: block;
                            text-align: left;
                            text-decoration: none;
                            padding-left: 0;
                            .right-arrow{
                                margin-right: 15px;
                                transform: rotate(90deg);
                                margin-left: 1px;
                                opacity: .5;
                                position: relative;
                                top: -1px;
                            }
                            &.collapsed{
                                .right-arrow{
                                    margin-right: 15px;
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }   
            .external-linkDiv{
                font-size: 14px;
                font-weight: normal;
                color: #161928;
                margin-top: 15px;
                p{
                    margin: 0;
                    position: relative;
                    padding-left: 22px;
                    margin-bottom: 13px;
                }
                .external-link{
                    position: absolute;
                    left: 0px;
                    top: 3px;
                }
            }   
            .resultsButtons{
                .faqBtnContainer{
                    display: block;
                }
                .faq{
                    background: #E7F1FF;
                    border: 1px solid #85B7FE;
                    border-radius: 4px;
                    color: #0D6EFD;
                    max-width: 180px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 28px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    font-size: 12px;
                    font-weight: 600;
                    height: 30px;
                    padding: 0 15px;
                    .credit-card{
                        margin-right: 5px;
                        position: relative;
                        top: 3px;
                        display: none;
                    }
                }
            }
        }
        .search-heads {
            color: #9AA0A6;
            font-weight: 600;
            font-size: 11px;
            margin-bottom: 6px;
            display: block;
            width: 100%;
            width: 100%; 
        }
        .suggestionsResult{
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: solid 1px #e5e8ec;
            .faq{
                font-size: 14px;
                font-weight: normal;
                color: #161928;
                position: relative;
                padding-left: 25px;
                .searchIcon{
                    margin-right: 10px;
                    position: absolute;
                    top: 5px;
                    left: 1px;
                }
            }
        }
        .contactsDetailsfinal{
            display: flex;
            .contactDetails{
                flex: 1;
                .contacts-ksa{
                    color: #161928;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 2;
                    .right-arrow{
                        position: relative;
                        top: 2px;
                        &.email{
                            position: relative;
                            top: 1px;
                        }
                    }
                    .contactTitle{
                        display: inline-block;
                        margin-left: 10px;
                        position: relative;
                        top: 2px;
                    }
                    .contactNum{
                        margin-left: 25px;
                        color: #056dae;
                    }
                }
            }
        }
        .highlightedText {
            background-color: #fefd00;
        }
    }
    .snippet-margin {
        width: 94% !important;
        margin-left: 30px;
    }
    .snippet-template {
        display: inline-block;
        width: 100%;
        border: 1px solid #D7D8D9;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 10px;
        .position-relative {
            position: relative;
        }
        .title {
            .title-text {
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 3px;
                color: #121314;
                padding-right: 50px;
            }
            .title-beta {
                position: absolute;
                top: -9px;
                right: -27px;
                line-height: normal;
                width: 40px;
                height: 39px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .desc-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 12px;
            color: #121314;
            a {
                color: #0D6EFD !important;
                word-break: break-word;
                display: inline-block;
            }
        }
        .source-link {
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            margin-bottom: 10px;
            .title {
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
            }
            .source-ext-link {
                display: flex;
                align-items: center;
                margin-left: 10px;
                img {
                    margin-right: 10px;
                }
                a {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    text-decoration-line: underline !important;
                    color: #0D6EFD !important;
                }
            }
        }
        .quick-links {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            img {
                margin-left: 8px;
                cursor: pointer;
            }
            .quick-source {
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
            }
            .quick-sourcename {
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                text-decoration-line: underline;
                color: #0D6EFD;
                margin-left: 6.5px;
                cursor: pointer;
            }
            .quick-item {
                background: #fff;
                border: 1px solid #0D6EFD;
                border-radius: 15px;
                padding: 4px 10px;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #0D6EFD;
                margin: 4px 10px 4px 0px;
                cursor: pointer;
                display: flex;
                align-items: center;
                img {
                    margin-right: 8px;
                }
            }
        }
    }
    
}

.searchAssist-kore-chat-window .finalResults .task-wrp.faq-highlight,
.show-all-results-outer-wrap .finalResults .task-wrp.faq-highlight, 
.search-body-full .faqs-wrp-content.faq-highlight,
.live_search_result_box .task-wrp.faq-highlight,
.all-product-details .task-wrp.faq-highlight{
    border: 1px solid #c6c6cb;
}
.searchAssist-kore-chat-window .finalResults .task-wrp.faq-highlight,
.show-all-results-outer-wrap .task-wrp.faq-highlight,
.search-body-full .faqs-wrp-content.faq-highlight,
.live_search_result_box .task-wrp.faq-highlight,
.all-product-details .task-wrp.faq-highlight{
    animation-name: glowKeyFrame;
    animation-duration: 3s;
}

// list & paragraphs snippets css styles //

/* snippet templates css styles */
.search-temp-one{
    // background: #FFFFFF;
    // border-bottom: 2px solid #784BD1;
    // box-shadow: 0px 1px 2px #bdc1c6;
    // border-radius: 8px;
    // padding: 20px 20px;
    margin-bottom: 25px;
    background: linear-gradient(180deg, #F8F9FF 0%, #FFFFFF 100%);
    border-width: 2px 0px;
    border-style: solid;
    border-color: #784BD1;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 8px #E6D6FF);
    padding: 15px 15px 10px;
}

.search-temp-one .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px 0;
}

#searchChatContainer .search-temp-one .top-header{
    display: none !important;
    }
    #searchChatContainer .search-temp-one {
        // margin-top: -25px !important;
    }
.search-temp-one .top-header .top-header-with-img{
    display: flex;
    align-items: center;
    padding: 0 0 0px 0;
}
.search-temp-one .snippet-source-block a{
    text-decoration: none !important;
}
.search-temp-one .snippet-source-block .snippet-source-file-name{
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #2D2F33;
padding: 20px 0 10px 0;
overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.search-temp-one .snippet-source-block .snippet-source-url{
    display: flex;
flex-direction: row;
align-items: center;
padding: 7px 10px;
background: #F3F8FF;
border-radius: 4px;
justify-content: space-between;
margin-bottom: 10px;
}
.search-temp-one .snippet-source-block .snippet-source-url a,.search-temp-one .snippet-source-block .snippet-source-url .snippet-source-url-name{
    color: #2B75E4;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}
.search-temp-one .snippet-source-block .snippet-source-url a{
    width: 14px;
    margin-left: 10px;
} 
.search-temp-one .top-header .top-header-with-img .logo-span{
    padding: 0 5px 0 0;
}

.search-temp-one .top-header .btn-chip{
    background: #F7F9FA;
    border-radius: 4px;
    padding: 10px 10px;
    color: #777A80;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
#searchChatContainer .search-temp-one .top-header .btn-link{
    display: none;
}
.sdk-top-down-interface .search-temp-one .temp-footer-block .btn-link{
    display: none;
}
.sdk-top-down-interface .search-temp-one .temp-footer-block .temp-footer {
    justify-content: end;
}
.search-temp-one .temp-footer-block .temp-footer.justify-content-end {
    justify-content: end !important;
}
.sdk-top-down-interface .search-temp-one .top-header .top-header-with-img .logo-span {
    display: none;
}
#searchChatContainer .search-temp-one .temp-footer .is-it-usefull{
    display: none;
}
.search-temp-one .top-header .btn-link{
    color: #784BD1;
    font-weight: 600;
    font-size: 8px;
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

.search-temp-one .snippet-image-block{
	margin-top:20px;
}
.search-temp-one .snippet-image-block img{
	width: 100%;
	border-radius: 10px;
}
.search-temp-one .top-header .btn-link .bot-bg-purple{
    background: #F2EDFA;
    border-radius: 20px;
    padding: 6px 6px;
    display: flex;
    margin-right: 10px;
}
.search-temp-one .paragraph-temp-header{
    color: #2D2F33;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-temp-one .paragraph-temp-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #2D2F33;
}
.search-temp-one .paragraph-temp-title br:first-child {
    display: none;
  }
.search-temp-one .temp-data-desc{
    color: #2D2F33;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 0 0px 0;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
}

.search-temp-one .temp-data-desc .read-more-less{
    position: absolute;
    right: 4px;
    bottom: 0px;
    background: #fff;
    padding: 0 0px 0 0;
    color: #0D6EFD;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.search-temp-one .temp-data-desc br:first-child {
    display: none;
  }
.search-temp-one .temp-data-desc .desc-read-more{
    color: #0D6EFD;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: none;
}
.search-temp-one .temp-data-desc .desc-read-less{
    color: #0D6EFD;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: none;
}
.search-temp-one .temp-read-link{
     display: flex; 
    // display: none !important;
    justify-content: end;
}
.search-temp-one .temp-read-link .desc-read-more,.search-temp-one .temp-read-link .desc-read-less{
    color: #0D6EFD;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: none ;
}

.search-temp-one .temp-footer-block .temp-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
}
.search-temp-one .temp-footer-block .temp-footer .temp-right{
    display: flex;
    align-items: center;
}
.search-temp-one .temp-footer-block .btn-link{
    color: #784BD1;
    font-weight: 600;
    font-size: 8px;
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

.search-temp-one .temp-footer-block .btn-link .bot-bg-purple{
    background: #F2EDFA;
    border-radius: 20px;
    padding: 6px 6px;
    display: flex;
    margin-right: 10px;
}

.search-temp-one .temp-footer .temp-fotter-actions{
    display: flex;
    align-items: center;
    gap: 11px;
}
.search-temp-one .temp-footer .temp-fotter-actions .snippet-like-img{
    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/snippet_imgs/like-gray.svg);
}
.search-temp-one .temp-footer .temp-fotter-actions .snippet-like-img:hover{
    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/snippet_imgs/like-green.svg);
}
.search-temp-one .temp-footer .temp-fotter-actions .snippet-like-img.active{
    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/snippet_imgs/like-green-fill.svg);
}
.search-temp-one .temp-footer .temp-fotter-actions .snippet-dislike-img{
    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/snippet_imgs/dislike-gary.svg);
}
.search-temp-one .temp-footer .temp-fotter-actions .snippet-dislike-img:hover{
    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/snippet_imgs/dislike-red.svg);
}
.search-temp-one .temp-footer .temp-fotter-actions .snippet-dislike-img.active{
    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/snippet_imgs/dislike-red-fill.svg);
}

.search-temp-one .temp-footer .temp-fotter-actions img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.search-temp-one .temp-footer .is-it-usefull{
    color: #777A80;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0 20px 0 0;
}

/* list snippet temp css strat from here */
.search-temp-one.list-snippet-temp {
	.list-temp-block {
		.list-temp-header {
			color: #2D2F33;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			padding-top: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
		}
		.list-temp-ul {
			color: #2D2F33;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			padding: 0 0 0 15px;
			margin-top: 10px;
			margin-bottom: 10px;
			.list-temp-li {
				list-style-type: decimal !important;
				list-style-position: outside !important;
				&:nth-child(n+8) {
					display: none;
				}
			}
		}
		.list-temp-ul.show-all-list {
			.list-temp-li {
				&:nth-child(n+8) {
					display: list-item;
				}
			}
		}
		.desc-read-more {
			color: #0D6EFD;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			cursor: pointer;
			display: none ;
			align-items: center;
			margin-right: 6px;
			img {
				margin-right: 6px;
			}
		}
		.desc-read-less {
			color: #0D6EFD;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			cursor: pointer;
			display: flex;
			align-items: center;
			margin-right: 6px;
			img {
				position: relative;
				transform: rotate(180deg);
				top: -2px;
				margin-right: 6px;
			}
		}
	}
}
.top-down-search-background-div {
	.all-product-details {
		position: relative;
		overflow-anchor: none;
		max-height: calc(100vh - 148px);
	}
}
.sdk-top-down-interface {
	.search-temp-one {
		margin-left: 30px;
		width: 96%;
	}
}


.search-temp-one .paragraph-temp-header{
    color: #2D2F33;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.search-temp-one .paragraph-temp-title br:first-child {
    display: none;
  }
  .search-temp-one .img-temp-title br:first-child {
    display: none;
  }
  .search-temp-one{
    .citation-data-desc{
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #121314;
        .snippet-citation{
            a{
                color: #0D6EFD;
                text-decoration: none !important;
                &:focus{
                    color: #0D6EFD;
                }
            }

        }
    }
    .snippet-referene-block{
        padding: 10px;
        border-top: solid 2px #F2EDFA;
        .reference-block-header{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #44474C;
        }
        .reference-list-temp-ul{
            font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                color: #777A80;
                padding: 0 0 0 11px;
			    margin: 0px;
            .reference-list-temp-li{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                color: #99969E;
                list-style-type: decimal !important;
				list-style-position: outside !important;
                padding-top: 5px;
                a{
                    word-break: break-word;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-decoration: none !important;
                    color: #99969E;
                    line-height: 14px;
                    &:focus{
                        color: #99969E;
                    }
                    span{
                        border-bottom: 1px solid #99969E;
                    }
                }
            }
        }
    }
    &.active-citation-snippet{
        .citation-data-desc{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #121314;
            .snippet-answer-fragment-block{
                line-height: 16px;
                .sub-fragment{
                    background: #fff;
                    // border-radius: 8px;
                    padding-right: 3px;
                    .snippet-citation{
                        vertical-align: text-bottom;
                    }
                    .reference-no{
                        padding: 1px 4px;
                        margin-left: 2px;
                        border-radius: 20px;
                        background: #EAF1FC;
                        color: #1A4689;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 15px;
                        border: 1px solid transparent;
                    }
                }
                
                &:hover, &.active{
                    .sub-fragment{
                    background: #EAF1FC;
                    // border-radius: 4px;
                    // padding: 0px 5px;
                    .reference-no{
                        background: #5591E9;
                        color: #fff;
                    }
                }
             }
            }
        }
        .active-snippet-referene-block{
            .active-reference-block-header{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: #777A80;
                margin-bottom: 5px;
            }
            .active-reference-list-temp-block{
                display: inline-block;
                box-sizing:border-box;
                .active-reference-list-temp{
                    box-sizing: border-box;
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 6px 10px 9px 5px;
                    gap: 5px;
                    height: 26px;
                    background: #FFFFFF;
                    border: 1px solid #f0f1f2;
                    border-radius: 20px;
                    /* width: 150px; */
                    margin: 5px 5px 0px 0px;
                    max-width: 125px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a{
                        word-break: break-word;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-decoration: none !important;
                        color: #99969E;
                        &:focus{
                            color: #99969E;
                        }
                        .reference-no{
                            padding: 2px 5px;
                            gap: 10px;
                            margin-right: 5px;
                            border-radius: 20px;
                            background: #EAF1FC;
                            color: #5591E9;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 17px;
                            border: 1px solid transparent;
                        }
                        .reference-title{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 12px;
                            color: #777A80;
                        }
                    }
                  
                    &:hover, &.active{
                        background: #F2F7FF;
                        border: 1px solid #D5E3FA;
                        a{
                            .reference-no{
                                background: #FFFFFF;
                                border: 1px solid #D5E3FA;
                                color: #1A4689;
                                line-height: 17px;
                            }
                            .reference-title{
                                color: #121314;
                            }
                        }
                    }
                }
            }
        }
    }
}
.sdk-tooltip-container {
    color: #fff;
    background: #000000;
    position: absolute;
    padding: 8px;
    top: -32px;
    font-size: 10px;
    font-weight: normal;
    z-index: 99999;
    border-radius: 8px;
    .sa-tooltip-arrow{
        background: #000000;
        position: absolute;
        padding: 6px;
        left: 50%;
        bottom: -5px;
        z-index: 99999;
        transform: rotate(45deg) !important;
    }
}
.snippet_margin_top_0{
    margin-top: 0px !important;
}
.snippet_padding_top_0{
    padding-top: 0px !important;
}
.final-results-container .messageBubble.show-info-text-snippet .messageBubble-content {
// display: none !important;
    content: url(https://koregeneric.s3.amazonaws.com/SearchAssist_UI_Img/Icons/bubble_icon.svg);
    width: 20px;
    height: 20px;
    left: 0px;
    top: 24px;
}
.final-results-container .show-more-results-block{
    display: flex;
    justify-content: flex-end;
    margin-right: -5px;
    margin-top: -10px;
    margin-bottom: 15px;
    .show-more-results-btn{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #0D6EFD;
        background: #F3F8FF;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        background: #E7F1FF;
        box-sizing: border-box;
        padding: 5px 10px;
        cursor: pointer;
    }
}